@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem=10px

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px
  }
  @include respond(phone) {
    font-size: 43.75%; // 1 rem = 7px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1 rem =12px
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text--1);
  background-image: var(--wrapper-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container-home {
  max-width: 120rem;
  margin: 4vw auto;
  min-height: 115rem;
  background-color: var(--color-background);
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#000, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'head head'
    'list recipe';

  @include respond(tab-land) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
  @include respond(phone) {
    grid-template-rows: 10rem auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'head'
      'list'
      'recipe';
  }
}

.container-pages {
  max-width: 120rem;
  margin: 4vw auto;
  min-height: 100rem;
  background-color: var(--color-background);
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#000, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  // grid-template-rows: 10rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'head'
    'main';

  @include respond(tab-land) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
  @include respond(phone) {
    grid-template-rows: 10rem minmax(130rem, auto);

    &__planner {
      grid-template-rows: 10rem auto;
    }
  }
}

.section {
  padding: 5rem 8rem 0rem 8rem;
  // overflow: auto;
  margin-bottom: 6rem;
  text-align: center;

  &__title {
    margin-bottom: 2rem;
    &::after,
    &::before {
      content: '';
      display: inline-block;
      width: 35%;
      height: 1px;
      background-color: var(--color-text--3);
      transform: translateY(1.5rem);
    }

    &::before {
      float: left;
    }

    &::after {
      float: right;
    }

    @include respond(tab-port) {
      &::after,
      &::before {
        width: 0%;
      }
    }
  }
  &__shopping-list {
    @include respond(phone) {
      margin-top: 3rem;
    }
  }
  &__list {
    display: grid;
    justify-items: center;
  }

  &__planner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    // height: fit-content;

    @include respond(tab-land) {
      padding: 5rem 5rem 0rem 5rem;
    }
    @include respond(phone) {
      padding: 0;
      margin-top: 8rem;
      justify-content: flex-start;
      height: fit-content;
    }
  }

  &__recipe {
    @include respond(phone) {
      padding: 0;
    }
  }

  &__features {
    padding: 0;
  }
}
