%btn {
	background-image: var(--gradient);
	border-radius: 10rem;
	border: none;
	text-transform: uppercase;
	color: var(--color-on-primary);
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.2s;
  
	&:hover {
	  transform: scale(1.05);
	}
  
	&:focus {
	  outline: none;
	}
  
	& > *:first-child {
	  margin-right: 1rem;
	}
  }
  
  .btn {
	@extend %btn;
	font-size: 1.5rem;
	font-weight: 600;
  
	svg {
	  height: 2.25rem;
	  width: 2.25rem;
	  fill: currentColor;
	}
  }
  
  .btn--small {
	&,
	&:link,
	&:visited {
	  @extend %btn;
  
	  font-size: 1.4rem;
	  font-weight: 700;
	  padding: 1.25rem 2.25rem;
	  text-decoration: none;
  
	  svg {
		height: 1.75rem;
		width: 1.75rem;
		fill: currentColor;
	  }
	}
  }
  
  .btn--inline {
	color: var(--color-primary);
	font-size: 1.3rem;
	font-weight: 600;
	border: none;
	background-color: var(--color-grey--1);
	padding: 0.8rem 1.2rem;
	border-radius: 10rem;
	cursor: pointer;
  
	display: flex;
	align-items: center;
	transition: all 0.2s;
  
	svg {
	  height: 1.6rem;
	  width: 1.6rem;
	  fill: currentColor;
	  margin: 0 0.2rem;
	}
  
	span {
	  margin: 0 0.4rem;
	}
  
	&:hover {
	  color: var(--color-primary-variant);
	  background-color: var(--color-grey--2);
	}
  
	&:focus {
	  outline: none;
	}
  }

  .btn--week {
	font-size: 1.3rem;
	font-weight: 600;
	border: none;
	background-color: var(--color-grey--1);
	color: var(--color-text--1);
	padding: 1.2rem 1.6rem;
	border-radius: 10rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.2s;
  
	svg {
	  height: 1.6rem;
	  width: 1.6rem;
	  fill: currentColor;
	  margin: 0 0.2rem;
	}
  
	span {
	  text-transform: uppercase;
	}
  
	&:hover {
	  color: var(--color-primary-variant);
	  background-color: var(--color-grey--2);
	}
  
	&:focus {
	  outline: none;
	}
  }
  
  .btn--round {
	background-image: var(--gradient);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	height: 4.5rem;
	width: 4.5rem;
	transition: all 0.2s;
	display: flex;
	
	display: flex;
	align-items: center;
	justify-content: center;
  
	&:hover {
	  transform: scale(1.07);
	}
  
	&:focus {
	  outline: none;
	}
  
	svg {
	  height: 2.5rem;
	  width: 2.5rem;
	  fill: var(--color-on-primary);
	}
  }
  
  .btn--tiny {
	height: 2rem;
	width: 2rem;
	border: none;
	background: none;
	cursor: pointer;
  
	svg {
	  height: 100%;
	  width: 100%;
	  fill: var(--color-primary);
	  transition: all 0.3s;
	}
  
	&:focus {
	  outline: none;
	}
  
	&:hover svg {
	  fill: var(--color-primary-variant);
	  transform: translateY(-1px);
	}
  
	&:active svg {
	  fill: var(--color-primary-variant);
	  transform: translateY(0);
	}
  
	&:not(:last-child) {
	  margin-right: 0.3rem;
	}
  }

  .btn--white {
	align-self: center;
	width: fit-content;
	background-image: none;
	background-color: var(--color-grey--2);
	color: var(--color-primary);
  
	&:not(:last-child) {
	  margin-bottom: 2rem;
	}
  }

  .btn--list {
	color: var(--color-primary);
	font-size: 2rem;
	font-weight: 600;
	border: none;
	background-color: var(--color-grey--2);
	padding: 0.8rem 1rem;
	border-radius: 1rem;
	cursor: pointer;
  
	display: flex;
	align-items: center;
	transition: all 0.2s;
  
	&:not(:last-child) {
	  margin-right: 1rem;
	}
  
	svg {
	  height: 2.4rem;
	  width: 2.4rem;
	  fill: currentColor;
	  margin: 0 0.2rem;
	  transform: translateX(2px);
	}
  
	.list__icon--add {
	  transform: translate(4px, 4px);
	}
  
	span {
	  margin: 0 3rem;
	}
  
	&:hover {
	  color: var(--color-primary-variant);
	  filter: brightness(0.95);
	}
  
	&:focus {
	  outline: none;
	}
  }

  .heading {
	&--2 {
	  font-size: 2rem;
	  font-weight: 700;
	  color: var(--color-primary);
	  text-transform: uppercase;
	  margin-bottom: 2.5rem;
	  text-align: center;
	}
  
	&--3 {
	  font-size: 1.6rem;
	  font-weight: 700;
	  color: var(--color-text--1);
	  text-transform: uppercase;
	  margin: 1.5rem 0;
	  text-align: center;
	}
  }

  
  
  .link:link,
  .link:visited {
	color: var(--color-text--2);
  }
  
  .spinner {
	margin: 5rem auto;
	text-align: center;
  
	svg {
	  height: 6rem;
	  width: 6rem;
	  fill: var(--color-primary);
	  animation: rotate 2s infinite linear;
	}
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .message,
  .error {
	max-width: 40rem;
	margin: 0 auto;
	padding: 5rem 4rem;
  
	display: flex;
  
	svg {
	  height: 3rem;
	  width: 3rem;
	  fill: var(--color-primary);
	  transform: translateY(-0.3rem);
	}
  
	p {
	  margin-left: 1.5rem;
	  font-size: 1.8rem;
	  line-height: 1.5;
	  font-weight: 600;
	  color: var(--color-text--1);
	}

	a:link,
	a:visited {
	  text-decoration: none;
	  color: var(--color-primary);
	}
	a:hover {
	  text-decoration: underline;
	}
  }
  