.header {
	grid-area: head;
	background-color: var(--color-grey--1);
	display: flex;
	align-items: center;
	justify-content: space-between;
  
	&__logo {
	  margin-left: 2.5rem;
	  display: flex;
	  align-items: center;
  
	  @include respond(tab-port) {
		margin-left: 2.5rem;
		margin-right: 1.5rem;
	  }
	  @include respond(phone) {
		margin-left: 2.5rem;
		margin-right: 1rem;
	  }
	}
	&__logo-img {
	  height: 5rem;
	  margin-right: 1rem;
  
	  &--home {
		@include respond(tab-land) {
		  margin-right: 0;
		}
	  }
	}
	&__logo-name {
	  font-family: 'Akaya Kanadaka', serif;
	  font-size: 3.4rem;
	  transform: translateY(-3px);
  
	  &--home {
		@include respond(tab-land) {
		  display: none;
		}
	  }
	}
  }
  
  .search {
	background-color: var(--color-grey--2);
	border-radius: 10rem;
	display: flex;
	align-items: center;
	padding-left: 3rem;
	margin-right: 1.5rem; //added
	transition: all 0.3s;
  
	&:focus-within {
	  transform: translateY(-2px);
	  // box-shadow: 0 0.7rem 1rem rgba(var(--color-text--1), 0.08);
	}
  
	&__field {
	  border: none;
	  background: none;
	  font-family: inherit;
	  color: inherit;
	  font-size: 1.7rem;
	  width: 25rem;
  
	  &:focus {
		outline: none;
	  }
  
	  &::placeholder {
		color: var(--color-text--3);
	  }
  
	  @include respond(tab-port) {
		width: auto;
		max-width: 14rem;
  
		&::placeholder {
		  color: var(--color-grey--2);
		}
	  }
	}
  
	&__btn {
	  font-weight: 700;
	  font-family: inherit;
	  padding: 1.5rem 3rem;
  
	  @include respond(tab-land) {
		span {
		  display: none;
		}
		svg {
		  margin-right: 0 !important;
		}
		padding: 1.5rem 2.5rem;
	  }
  
	  @include respond(phone) {
		span {
		  display: initial;
		}
		svg {
		  margin-right: 1rem !important;
		}
		padding: 1.5rem 3rem;
	  }
	  @include respond(phone-small) {
		span {
		  display: none;
		}
		svg {
		  margin-right: 0 !important;
		}
		padding: 1.5rem 2.5rem;
	  }
	}
	&__icon {
	  &--header {
		margin-right: 0;
	  }
	}
  }
  
  .page-options {
	align-self: stretch;
  
	@include respond(phone) {
	  background-color: var(--color-grey--1);
	  padding: 1rem 0.5rem;
	  border-radius: 3rem;
	  position: absolute;
	  z-index: 100;
	  top: 11rem;
	  right: 2rem;
	  // transform: translateX(-50%);
	}
  
	&__list {
	  list-style: none;
	  display: flex;
	  height: 100%;
	}
  
	&__item {
	  position: relative;
	}
  
	&__btn {
	  height: 100%;
	  font-family: inherit;
	  color: inherit;
	  font-size: 1.4rem;
	  font-weight: 700;
	  text-transform: uppercase;
	  background: none;
	  border: none;
	  cursor: pointer;
	  padding: 0 1rem;
	  transition: all 0.3s;
  
	  display: flex;
	  align-items: center;
  
	  &--home {
		text-decoration: none;
	  }
  
	  svg {
		height: 2.4rem;
		width: 2.4rem;
		fill: var(--color-primary);
		margin-right: 0.7rem;
		transform: translateY(-1px);
	  }
  
	  &:focus {
		outline: none;
	  }
  
	  &:hover {
		background-color: var(--color-grey--2);
	  }
	}
  }
  
  //FOR pages with no search field
  .page-options-end {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin-right: 0.5rem;
  
	@include respond(phone) {
	  display: block;
	  width: fit-content;
	  margin-right: 0;
	}
  }
  
  .bookmarks {
	padding: 1rem 0;
	position: absolute;
	// right: 0;
	right: -2.5rem;
	z-index: 10;
	width: 40rem;
	background-color: var(--color-grey--1);
	box-shadow: 1rem 1rem 4rem rgba(#ddd, 0.1);
  
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s 0.2s;
  
	@include respond(phone) {
	  right: 0;
	}
  
	&__list {
	  list-style: none;
	}
  
	&__field {
	  cursor: pointer;
	  padding: 0 4rem;
  
	  display: flex;
	  align-items: center;
	  height: 100%;
	  transition: all 0.3s;
  
	  &:hover {
		background-color: var(--color-grey--2);
	  }
	}
  
	&:hover,
	.page-options__btn--bookmarks:hover + & {
	  visibility: visible;
	  opacity: 1;
	}
  
	.preview__link {
	  &:link,
	  &:visited {
		border: none;
  
		&:hover {
		  background-color: var(--color-grey--2);
		}
	  }
	}
  }
  .slider {
	width: 8.5rem;
	margin: 0 1rem;
	height: 4.2rem;
	border-radius: 2rem;
	background-color: var(--color-grey--2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.2rem;
	position: relative;
  
	& > *:not(:last-child) {
	  margin-right: 1rem;
	}
  
	svg {
	  width: 2.5rem;
	  height: 2.5rem;
	  fill: var(--color-text--3);
	}
  
	&__circle {
	  display: block;
	  content: '';
	  position: absolute;
	  left: 1rem;
	  // left: 4.5rem; //transition to night
	  width: 2.8rem;
	  height: 2.8rem;
	  border-radius: 50%;
	  z-index: 100;
	  background-image: var(--gradient);
	  transition: all 0.2s;
	}
  
	@include respond(phone-small) {
	  background-color: var(--color-grey--1);
	  position: absolute;
	  z-index: 100;
	  top: 11rem;
	  left: 2rem;
	}
  }
  
  .navigation {
	position: relative;
	margin-right: 3rem;
	margin-left: 1rem;
	min-width: 8rem;
	height: 100%;
  
	@include respond(phone) {
	  margin-right: 2rem;
	}
  
	&__checkbox {
	  display: none;
	}
	&__button {
	  display: block;
	  background-image: var(--gradient);
	  height: 5.3rem;
	  width: 8rem;
	  border-radius: 10rem;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  z-index: 2000;
	  transition: all 0.4s;
	  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	  cursor: pointer;
	}
  
	&__background {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%) scale(1);
	  // background-image: radial-gradient(
	  //   rgba(var(--color-wrapper), 0.8),
	  //   rgba(var(--color-grad-1), 0.8)
	  // );
	  background-image: var(--wrapper-gradient);
	  opacity: 0.8;
	  height: 5rem;
	  width: 5rem;
	  border-radius: 50%;
	  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	  z-index: 1000;
	}
  
	&__nav {
	  height: 100vh;
	  position: fixed;
	  top: 0;
	  left: 0;
	  z-index: 1500;
  
	  //For animation
	  visibility: hidden;
	  opacity: 0;
	  width: 0;
	  transition: all 0.8s cubic-bezier(0.48, -0.36, 0.42, 1.39);
	}
  
	&__list {
	  list-style: none;
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 100%;
	}
	&__item {
	  margin: 0.5rem;
	}
	&__link {
	  &:link,
	  &:visited {
		display: inline-block;
		font-size: 3.2rem;
		font-weight: 600;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		padding: 1.3rem 5rem;
		transition: all 0.6s;
		background-image: linear-gradient(
		  120deg,
		  transparent 0%,
		  transparent 50%,
		  var(--color-grey--3) 50%
		);
		background-size: 220%;
		clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
	  }
  
	  &:hover,
	  &:active {
		background-position: 100%;
		color: #000;
	  }
	}
  
	&__icon {
	  position: relative;
	  top: 35%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  &,
	  &::before,
	  &::after {
		display: inline-block;
		background-color: var(--color-grey--1);
		border-radius: 1rem;
		height: 3px;
		width: 3rem;
		transition: all 0.3s;
	  }
  
	  &::after,
	  &::before {
		content: '';
		position: absolute;
		left: 0;
	  }
	  &::before {
		top: -1rem;
	  }
	  &::after {
		top: 1rem;
	  }
  
	  &:hover &::before {
		top: -1.2rem;
	  }
	  &:hover &::after {
		top: 1.2rem;
	  }
	}
  
	&__checkbox:checked + &__button &__icon {
	  background-color: transparent;
	}
	&__checkbox:checked + &__button &__icon::before {
	  transform: rotate(135deg);
	  background-color: var(--color-primary);
	  top: 0;
	}
	&__checkbox:checked + &__button &__icon::after {
	  transform: rotate(-135deg);
	  background-color: var(--color-primary);
	  top: 0;
	}
  
	//Functionality
	&__checkbox:checked ~ &__background {
	  transform: translate(-50%, -50%) scale(150);
	}
  
	&__checkbox:checked ~ &__button {
	  background-image: linear-gradient(
		var(--color-grey--1),
		var(--color-grey--2)
	  );
	}
  
	&__checkbox:checked ~ &__nav {
	  opacity: 1;
	  visibility: initial;
	  width: 100%;
	}
  }
  