.list {
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.15);
	background-color: var(--color-grey--1);
	margin: 3rem;
	text-align: left;
	padding-bottom: 1rem;
	width: 45%;
	height: fit-content;
  
	@include respond(tab-port) {
	  width: 55%;
	}
	@include respond(phone) {
	  margin: 3rem;
	  width: 85%;
	}
	@include respond(phone-small) {
	  margin: 0;
	  width: 100%;
	}
  
	&__list-container {
	  position: relative;
	}
  
	&__list-img {
	  height: 17rem;
	  background-size: cover;
	  background-position: center;
	  background-blend-mode: screen;
	  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
	  background-image: linear-gradient(
		  to right bottom,
		  rgba(#121212, 0.5),
		  rgba(#121212, 0.5)
		),
		url(../img/list.jpg);
	}
  
	&__title {
	  position: absolute;
	  top: -10rem;
	  right: 2rem;
	  width: 90%;
	  text-align: right;
	  font-size: 2.2rem;
	  color: #fff;
	  text-transform: uppercase;
	  font-weight: 400;
  
	  span {
		@include gradient-background-text;
	  }
  
	  &--form {
		span {
		  padding-left: 0;
		  padding-right: 0;
		}
	  }
	}
  
	&__shopping-list {
	  margin-top: 4rem;
	  min-height: 40rem;
	  list-style: none;
	  font-size: 1.8rem;
	  padding: 0.5rem 5rem;
	}
  
	&__item {
	  padding: 0.5rem;
	  border-bottom: 1px solid var(--color-text--2);
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
  
	  &--draggable {
		cursor: move;
	  }
  
	  &--draggable-dragging {
		opacity: 0.5;
	  }
	}
  
	&__item-buttons {
	  display: flex;
	  margin-left: 1.6rem;
	  transform: translateY(0.5rem);
	}
  
	&__options {
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  padding: 2.5rem 5rem;
	  margin-top: 2.5rem;
	}
  }
  
  .form {
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
	background-color: var(--color-grey--3);
	margin: 3rem;
	width: 45%;
	padding-bottom: 1rem;
	// max-width: 50rem;
	height: fit-content;
  
	@media only screen and (max-width: $bp-medium) {
	  width: 60%;
	}
	@media only screen and (max-width: $bp-small) {
	  width: 90%;
	}
  
	&__input {
	  font-size: 1.6rem;
	  font-family: inherit;
	  font-weight: 600;
	  color: inherit;
	  padding: 0.5rem 1rem;
	  width: 80%;
	  background-color: var(--color-grey--2);
	  border-radius: 0.5rem;
	  border: solid 1px var(--color-text--1);
  
	  &::placeholder {
		color: var(--color-text--2);
	  }
	  &:focus {
		outline: none;
		border-bottom: solid 3px var(--color-primary);
	  }
	}
  
	&__title {
	  font-size: 2.2rem;
	  font-family: inherit;
	  text-transform: uppercase;
	  font-weight: 400;
	  color: #fff;
	  padding: 1rem 1.5rem;
	  width: 55%;
	  background-color: transparent;
	  // background-image: $gradient;
	  border: none;
	  transform: scale(0.95);
	  outline: none;
	  border: none;
  
	  &::placeholder {
		color: rgba(#fff, 0.6);
	  }
	  &:focus {
		outline: none;
		border-bottom: solid 3px var(--color-grey--2);
	  }
	}
  }
  