.search-results {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
  
	@include respond(phone) {
	  margin-top: 3rem;
	}
  }
  
  .results {
	list-style: none;
	margin-bottom: 2rem;
  
	@include respond(phone) {
	  .message {
		margin-top: 6rem;
	  }
	}
  }
  
  .pagination {
	margin-top: auto;
	padding: 0 3.5rem;
	position: relative;
  
	@include respond(tab-port) {
	  margin-top: 3rem;
	}
	@include respond(phone) {
	  margin-bottom: 5rem;
	}
  
	&::after {
	  content: '';
	  display: table;
	  clear: both;
	}
  
	&__btn {
	  &--prev {
		float: left;
  
		@include respond(tab-port) {
		  span {
			display: none;
		  }
		}
		@include respond(phone) {
		  span {
			display: inline;
		  }
		}
	  }
	  &--next {
		float: right;
  
		@include respond(tab-port) {
		  span {
			display: none;
		  }
		}
		@include respond(phone) {
		  span {
			display: inline;
		  }
		}
	  }
	}
  
	&__label {
	  position: absolute;
	  bottom: -6rem;
	  left: 0;
	  font-size: 1.5rem;
	  margin-top: 4rem;
	  padding: 1rem 4rem 1rem 2rem;
	  background-color: var(--color-primary-variant);
	  color: var(--color-on-primary);
	  font-weight: 700;
	  clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%);
	  transition: all 0.2s;
  
	  &:hover {
		padding-left: 3rem;
	  }
	}
  }
  
  .copyright {
	color: var(--color-text--2);
	font-size: 1.2rem;
	padding: 0 3.5rem;
	margin-top: 8rem;
  
	.twitter-link:link,
	.twitter-link:visited {
	  color: var(--color-text--2);
	}
  
	@include respond(tab-port) {
	  display: none;
	}
  }
  